<!-- <script src='../../../assets/js/SimpleImage.js'></script> -->

<hr>
<div class="row">
  <div class="col-xs-12">
    <img
      [src]="photo.imagePath"
      alt="{{ photo.species }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Name: {{ photo.species }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Location: {{ photo.location }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Photo <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onAddToSpecies()">To Species</a></li>
        <li><a style="cursor: pointer;" (click)="onEditPhoto()">Edit Photo</a></li>
        <li><a style="cursor: pointer;" (click)="onDeletePhoto()">Delete Photo</a></li>
        <li><a style="cursor: pointer;" (click)="onLoadPhoto()">Load Photo</a></li>
        <li><a style="cursor: pointer;" (click)="onConvertePhoto()">Rainbow Maker</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row" *ngIf="photoConverterActive">
  <hr>
  <div class="col-xs-6">
    <a>Loaded Image</a>
    <img
      [src]="localImage"
      alt="{{ photo.species }}"
      *ngIf="!isImageLoading;"
      class="img-responsive"
      style="max-width: 250px;">
  </div>
  <div class="col-xs-6">
      <a>Converted Image</a>
      <img
      [src]="convertedImage"
      alt="{{ photo.species }}"
      *ngIf="!isImageLoading;"
      class="img-responsive"
      style="max-width: 250px;">
  </div>
  <hr>
  <!-- <canvas id="ConvImageCanv" width="50px"></canvas> -->
</div>
